<!DOCTYPE html>
<html lang="en-US" class="yes-js js_active js scheme_default">

<head>
    <title> Alice&#039;s Lingerie Store</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
    <meta name="format-detection" content="telephone=no">
    <link rel="icon" href="/images/cropped-512x512-90x90.png" sizes="32x32" />
    <link rel='stylesheet' href='css/fontello/css/fontello-embedded.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/font-face/arkanaregular/stylesheet.css' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/wc-secondary-product-thumbnail/assets/css/style.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/woocommerce/assets/css/woocommerce-layout.css' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/woocommerce/assets/css/woocommerce-smallscreen.css' type='text/css' media='only screen and (max-width: 768px)' />
    <link rel='stylesheet' href='js/vendor/woocommerce/assets/css/woocommerce.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/shortcodes.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/style.css' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/theme.hovers/theme.hovers.css' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/essential-grid/public/assets/css/settings.css' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/essential-grid/public/assets/css/lightbox.css' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/revslider/public/assets/css/settings.css' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/woocommerce-currency-switcher/js/chosen/chosen.min.css' type='text/css' media='all' />
    <link rel='stylesheet' href='js/vendor/woocommerce-currency-switcher/css/front.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/essential-grid.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/template-color.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/woocommerce.css' type='text/css' media='all' />
    <link rel='stylesheet' href='css/responsive.css' type='text/css' media='all' />
</head>

<body class="page-template-default page scheme_default body_style_wide expand_content remove_margins menu_style_right menu_style_side no_layout">
    <div class="body_wrap">
        <div class="page_wrap">
            <%-include('./components/header.ejs')%>

                <div class="page_content_wrap scheme_default">
                    <div class="content">
                        <article class="post_item_single post_type_page page type-page">
                            <div class="post_content entry-content">
                                <section>
                                    <div class="container-fluid">
                                        <div class="column_row">
                                            <div class="column_container column-1_1 sc_layouts_column_icons_position_left">
                                                <div class="column-inner">
                                                    <div id="mainslider_2" class="rev_slider_wrapper fullscreen-container rev_slider_global slider_alias_rsl2" data-source="gallery">
                                                        <!-- START REVOLUTION SLIDER 5.3.0.2 fullwidth mode -->
                                                        <div id="rev_slider_2_1" class="rev_slider fullscreenbanner d_none" data-version="5.3.0.2">
                                                            <ul>
                                                                <!-- SLIDE  1-->
                                                                <li data-index="rs-5" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="/images/slider_2_bg_1-100x50.jpg" data-rotate="0"
                                                                    data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10=""
                                                                    data-description="">
                                                                    <!-- MAIN IMAGE -->
                                                                    <img src="/images/slider_2_bg_1.jpg" alt="" title="slider_2_bg_1" width="1920" height="965" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                                                                    <!-- LAYERS -->
                                                                    <!-- LAYER NR. 1 -->
                                                                    <div class="tp-caption trx-normal tp-resizeme" id="slide-5-layer-6" data-x="center" data-hoffset="-328" data-y="center" data-voffset="216" data-width="['auto']" data-height="['auto']" data-visibility="['on','on','on','off']" data-type="text" data-responsive_offset="on"
                                                                        data-frames='[{"delay":700,"speed":700,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Quad.easeInOut"},{"delay":"wait","speed":700,"frame":"999","to":"auto:auto;","ease":"Quad.easeInOut"}]'
                                                                        data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" data-captionhidden="on">Fun and Flirty Pieces for a
                                                                        <br /> Seamless look
                                                                    </div>
                                                                    <!-- LAYER NR. 2 -->
                                                                    <div class="tp-caption trx-main-big tp-resizeme other-font caption_pl" id="slide-5-layer-1" data-x="center" data-hoffset="-322" data-y="center" data-voffset="7" data-width="['auto']" data-height="['auto']" data-type="text" data-responsive_offset="on"
                                                                        data-frames='[{"delay":700,"speed":700,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Quad.easeInOut"},{"delay":"wait","speed":700,"frame":"999","to":"auto:auto;","ease":"Quad.easeInOut"}]'
                                                                        data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]">Little Love<br /> Story
                                                                    </div>
                                                                    <!-- LAYER NR. 3 -->
                                                                    <div class="tp-caption trx-button-main-2 rev-btn" id="slide-5-layer-4" data-x="center" data-hoffset="-332" data-y="center" data-voffset="304" data-width="['auto']" data-height="['auto']" data-type="button" data-responsive_offset="on" data-responsive="off"
                                                                        data-frames='[{"delay":700,"speed":700,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Quad.easeInOut"},{"delay":"wait","speed":700,"frame":"999","to":"auto:auto;","ease":"Quad.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","force":true,"to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(20, 20, 20, 1.00);bc:rgba(20, 20, 20, 1.00);bw:0 0 3px 0;"}]'
                                                                        data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]">
                                                                        <a href="/shop">shop now</a>
                                                                    </div>
                                                                </li>
                                                                <!-- SLIDE 2 -->
                                                                <li data-index=" rs-8" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="/images/slider_2_bg_2-100x50.jpg" data-rotate="0"
                                                                    data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10=""
                                                                    data-description="">
                                                                    <!-- MAIN IMAGE -->
                                                                    <img src="/images/slider_2_bg_2.jpg" alt="" title="slider_2_bg_2" width="1920" height="965" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                                                                    <!-- LAYERS -->
                                                                    <!-- LAYER NR. 1 -->
                                                                    <div class="tp-caption trx-normal tp-resizeme" id="slide-8-layer-6" data-x="center" data-hoffset="-328" data-y="center" data-voffset="216" data-width="['auto']" data-height="['auto']" data-visibility="['on','on','on','off']" data-type="text" data-responsive_offset="on"
                                                                        data-frames='[{"delay":700,"speed":700,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Quad.easeInOut"},{"delay":"wait","speed":700,"frame":"999","to":"auto:auto;","ease":"Quad.easeInOut"}]'
                                                                        data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" data-captionhidden="on">Fun and Flirty Pieces for a<br /> Seamless look
                                                                    </div>
                                                                    <!-- LAYER NR. 2 -->
                                                                    
                                                                    <!-- LAYER NR. 3 -->
                                                                    <a href="/shop">
                                                                        <div class="tp-caption trx-button-main-2 rev-btn" id="slide-8-layer-4" data-x="center" data-hoffset="-332" data-y="center" data-voffset="308" data-width="['auto']" data-height="['auto']" data-type="button" data-responsive_offset="on" data-responsive="off"
                                                                            data-frames='[{"delay":700,"speed":700,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Quad.easeInOut"},{"delay":"wait","speed":700,"frame":"999","to":"auto:auto;","ease":"Quad.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","force":true,"to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(20, 20, 20, 1.00);bc:rgba(20, 20, 20, 1.00);bw:0 0 3px 0;"}]'
                                                                            data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]">
                                                                            shop now
                                                                        </div>
                                                                    </a>
                                                                </li>
                                                                <!-- SLIDE 3 -->
                                                                <li data-index="rs-10" data-transition="fade" data-slotamount="default" data-hideafterloop="0" data-hideslideonmobile="off" data-easein="default" data-easeout="default" data-masterspeed="300" data-thumb="/images/slider_2_bg_3-100x50.jpg" data-rotate="0"
                                                                    data-saveperformance="off" data-title="Slide" data-param1="" data-param2="" data-param3="" data-param4="" data-param5="" data-param6="" data-param7="" data-param8="" data-param9="" data-param10=""
                                                                    data-description="">
                                                                    <!-- MAIN IMAGE -->
                                                                    <img src="/images/slider_2_bg_3.jpg" alt="" title="slider_2_bg_3" width="1920" height="965" data-bgposition="center center" data-bgfit="cover" data-bgrepeat="no-repeat" class="rev-slidebg" data-no-retina>
                                                                    <!-- LAYERS -->
                                                                    <!-- LAYER NR. 1 -->
                                                                    <div class="tp-caption trx-normal tp-resizeme" id="slide-10-layer-6" data-x="center" data-hoffset="-328" data-y="center" data-voffset="216" data-width="['auto']" data-height="['auto']" data-visibility="['on','on','on','off']" data-type="text" data-responsive_offset="on"
                                                                        data-frames='[{"delay":700,"speed":700,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Quad.easeInOut"},{"delay":"wait","speed":700,"frame":"999","to":"auto:auto;","ease":"Quad.easeInOut"}]'
                                                                        data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]" data-captionhidden="on">Fun and Flirty Pieces for a
                                                                        <br /> Seamless look
                                                                    </div>
                                                                    <!-- LAYER NR. 2 -->
                                                                    
                                                                    <!-- LAYER NR. 3 -->
                                                                    <a href="/shop">
                                                                        <div class="tp-caption trx-button-main-2 rev-btn" id="slide-10-layer-4" data-x="center" data-hoffset="-332" data-y="center" data-voffset="308" data-width="['auto']" data-height="['auto']" data-type="button" data-responsive_offset="on" data-responsive="off"
                                                                            data-frames='[{"delay":700,"speed":700,"frame":"0","from":"x:-50px;opacity:0;","to":"o:1;","ease":"Quad.easeInOut"},{"delay":"wait","speed":700,"frame":"999","to":"auto:auto;","ease":"Quad.easeInOut"},{"frame":"hover","speed":"0","ease":"Linear.easeNone","force":true,"to":"o:1;rX:0;rY:0;rZ:0;z:0;","style":"c:rgba(20, 20, 20, 1.00);bc:rgba(20, 20, 20, 1.00);bw:0 0 3px 0;"}]'
                                                                            data-textAlign="['center','center','center','center']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]">
                                                                            shop now
                                                                        </div>
                                                                    </a>
                                                                </li>
                                                            </ul>
                                                            <div class="tp-static-layers">
                                                                <!-- LAYER NR. 4 -->
                                                                <a class="tp-caption tp-static-layer" href="/" target="_self" id="slider-2-layer-6" data-x="12" data-y="22" data-width="['none','none','none','none']" data-height="['none','none','none','none']" data-type="image" data-actions='' data-basealign="slide"
                                                                    data-responsive_offset="on" data-responsive="off" data-startslide="0" data-endslide="2" data-frames='[{"delay":0,"speed":300,"frame":"0","from":"opacity:0;","to":"o:1;","ease":"Power3.easeInOut"},{"delay":"wait","speed":300,"frame":"999","to":"opacity:0;","ease":"Power3.easeInOut"}]'
                                                                    data-textAlign="['inherit','inherit','inherit','inherit']" data-paddingtop="[0,0,0,0]" data-paddingright="[0,0,0,0]" data-paddingbottom="[0,0,0,0]" data-paddingleft="[0,0,0,0]">
                                                                    
                                                                </a>
                                                            </div>
                                                            <div class="tp-bannertimer tp-bottom vis_hid"></div>
                                                        </div>
                                                    </div>
                                                </div>
                                                <div class="empty_space h-4em"><span class="empty_space_inner"></span>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>

                                <section>
                                    <div class="content_container" style="width:100%">
                                        <div class="column-row" data-animation="animated fadeInUp normal">
                                            <div class="column_container column-1_1 sc_layouts_column_icons_position_left">
                                                <div class="column-inner">
                                                    <div class="empty_space h-2_65em"><span class="empty_space_inner"></span></div>
                                                    <div class="sc_promo sc_promo_modern sc_promo_size_normal sc_promo_no_image bg_promo-6">
                                                        <div class="sc_promo_text sc_float_right w_100per-imp">
                                                            <div class="sc_promo_text_inner sc_align_center">
                                                                <h3 class="sc_item_title sc_promo_title sc_align_default sc_item_title_style_default">
                                                                    Kissing<br>in Black</h3>
                                                                <div class="sc_item_descr sc_promo_descr sc_align_default">
                                                                    Get any 2 bras for $50 &amp; any 2 panties for $30
                                                                    <br /> + one lucky winner will get their order for <a href="#">FREE!</a>
                                                                </div>
                                                                <div class="sc_item_button sc_item_button_simple sc_promo_button sc_align_default sc_button_wrap">
                                                                    <a href="/shop" class="sc_button sc_button_simple sc_button_size_normal sc_button_icon_left">
                                                                        <span class="sc_button_text">
                                                                            <span class="sc_button_title">shop
                                                                                now</span>
                                                                        </span>
                                                                        <!-- /.sc_button_text -->
                                                                    </a>
                                                                    <!-- /.sc_button -->
                                                                </div>
                                                                <!-- /.sc_item_button sc_item_button_simple sc_promo_button sc_align_default -->
                                                            </div>
                                                        </div>
                                                        <!-- /.sc_promo_text -->
                                                    </div>
                                                    <!-- /.sc_promo -->
                                                    <div class="empty_space hide_on_mobile h-2em"><span class="empty_space_inner"></span></div>
                                                    <div class="empty_space h-4_4em"><span class="empty_space_inner"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <section>
                                    <div class="content_container">
                                        <div class="column_row">
                                            <div class="column_container column-1_1 sc_layouts_column_icons_position_left">
                                                <div class="column-inner">
                                                    <a id="sc_anchor_must-have" class="sc_anchor sc_anchor_default" title="must have" data-icon="" data-url=""></a>
                                                    <div class="sc_title sc_title_default">
                                                        <h2 class="sc_item_title sc_title_title sc_align_center sc_item_title_style_default">
                                                            Must Have</h2>
                                                        <div class="sc_item_descr sc_title_descr sc_align_center">a touch of coverage never felt so sexy</div>
                                                    </div>
                                                    <!-- /.sc_title -->
                                                    <div class="empty_space h-3em"><span class="empty_space_inner"></span>
                                                    </div>
                                                    <div class="woocommerce columns-5">
                                                        <ul class="products wcspt-products">
                                                            <%for(let i = 0;i < products.length;i++) { let product = products[i];%>
                                                            <li class="product type-product wcspt-has-gallery">
                                                                <div class="post_item post_layout_thumbs" style="position: relative;">
                                                                    <div class="post_featured hover_shop_buttons">
                                                                        <div class="discount-label green">
                                                                            <span>
                                                                                <%=product.discount*100%>%
                                                                            </span>
                                                                        </div>
                                                                        <a href="/product/<%=product.id%>" class="wcspt-img-link">
                                                                            <img src="<%=product.featureImage[0]%>" alt="product-15" title="<%=product.name%>" />
                                                                            <img src="<%=product.featureImage[1]%>" class="secondary-thumb wcspt-transition wcspt-ie8-tempfix" alt="" />
                                                                        </a>
                                                                        <div class="mask"></div>
                                                                        <div class="icons">
                                                                            <a href="/product/<%=product.id%>" class="shop_cart icon-cart-2 button add_to_cart_button product_type_variable" onclick="buynow()">Buy Now</a>
                                                                            <a href="/product/<%=product.id%>" class="shop_link button icon-link">Details</a>
                                                                        </div>
                                                                    </div>
                                                                    <!-- /.post_featured -->
                                                                    <div class="post_data">
                                                                        <div class="post_header entry-header">
                                                                            <h3><a href="/product/<%=product.id%>"><%=product.name%></a></h3>
                                                                        </div>
                                                                        <!-- /.post_header -->
                                                                        <div class="star-rating" title="Rated 5 out of 5"><span
                                                                            class="w_<%=(product.rating*20)%>per"><strong
                                                                                class="rating">
                                                                                <%=product.rating%>>
                                                                            </strong> out
                                                                            of 5</span></div>
                                                                            <!-- PRICE -->
                                                                        <span class="price old-price">
                                                                            <span class="woocs_price_code">
                                                                                <span class="amount" style="margin: 0px!important; font-size:1rem">
                                                                                    <%=product.priceMin /product.discount%><span
                                                                                            class="decimals">99</span><span
                                                                                            class="woocommerce-Price-currencySymbol">$</span>
                                                                                </span>–
                                                                                <span class="amount" style="margin: 0px!important; font-size:1rem">
                                                                                    <%=product.priceMax / product.discount%><span
                                                                                            class="decimals">99</span><span
                                                                                            class="woocommerce-Price-currencySymbol">$</span>
                                                                                </span>
                                                                            </span>
                                                                        </span>
                                                                        <!-- FINAL PRICE -->
                                                                        <span class="price discount-price">
                                                                            <span class="woocs_price_code">
                                                                                <span class="amount">
                                                                                    <%=product.priceMin %><span
                                                                                            class="decimals">99</span><span
                                                                                            class="woocommerce-Price-currencySymbol">$</span>
                                                                                </span>–
                                                                                <span class="amount">
                                                                                    <%=product.priceMax %><span
                                                                                            class="decimals">99</span><span
                                                                                            class="woocommerce-Price-currencySymbol">$</span>
                                                                                </span>
                                                                            </span>
                                                                        </span>
                                                                        <a href="/product/123123" class="button product_type_variable add_to_cart_button" onclick="buynow()">Buy Now</a>
                                                                    </div>
                                                                    <!-- /.post_data -->
                                                                </div>
                                                                <!-- /.post_item -->
                                                            </li>
                                                            <%}%>
                                                        </ul>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>


                                <section>
                                    <div class="container-fluid">
                                        <div class="column_row">
                                            <div class="column_container column-1_1 sc_layouts_column_icons_position_left">
                                                <div class="column-inner">
                                                    <div class="empty_space hide_on_mobile h-1_3em"><span class="empty_space_inner"></span></div>
                                                    <div class="empty_space h-4em"><span class="empty_space_inner"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                                <section>
                                    
                                </section>
                                <section>
                                    
                                </section>
                                

                                <section>
                                    <div class="content_container">
                                        <div class="column_row">
                                            <div class="column_container column-1_1 sc_layouts_column_icons_position_left">
                                                <div class="column-inner">
                                                    <div class="empty_space h-2_4em"><span class="empty_space_inner"></span>
                                                    </div>

                                                    <!-- /.sc_content -->
                                                    <div class="empty_space h-1_5em"><span class="empty_space_inner"></span>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </section>
                            </div>
                            <!-- .entry-content -->
                        </article>
                    </div>
                    <!-- </.content> -->
                </div>
                <!-- </.page_content_wrap> -->

                <footer class="footer_wrap footer_default scheme_side">
                    <div class="footer_widgets_wrap widget_area">
                        <div class="footer_widgets_inner widget_area_inner">
                            <div class="content_wrap">
                                <div class="columns_wrap">
                                    <aside id="trx_addons_widget_socials-2" class="column-1_4 widget widget_socials">
                                        <h5 class="widget_title">Connect</h5>
                                        <div class="socials_description">
                                            <p>Donec tortor erat, aliquam sed sollicitudin eget, porttitor a urna. Nulla id tellus at enim tristique vulputate finibus quis neque. </p>
                                        </div>
                                        <div class="socials_wrap"><span class="social_item"><a href="#"
                                                    class="social_icons social_twitter"><span
                                                        class="trx_addons_icon-twitter"></span></a>
                                            </span><span class="social_item"><a href="#"
                                                    class="social_icons social_facebook"><span
                                                        class="trx_addons_icon-facebook"></span></a>
                                            </span><span class="social_item"><a href="#"
                                                    class="social_icons social_gplus"><span
                                                        class="trx_addons_icon-gplus"></span></a>
                                            </span><span class="social_item"><a href="#"
                                                    class="social_icons social_instagram"><span
                                                        class="trx_addons_icon-instagram"></span></a>
                                            </span>
                                        </div>
                                    </aside>
                                    
                                        
                                    </aside>
                                    

                                </div>
                                <!-- /.columns_wrap -->
                            </div>
                            <!-- /.content_wrap -->
                        </div>
                        <!-- /.footer_widgets_inner -->
                    </div>
                    <!-- /.footer_widgets_wrap -->

                    <div class="footer_menu_wrap">
                        <div class="footer_menu_inner">
                            <nav class="menu_footer_nav_area">
                                <ul class="sc_layouts_menu_nav menu_footer_nav prepared inited sf-js-enabled sf-arrows">
                                    <li class="menu-item menu-item-home"><a href="/"><span>Home</span></a></li>
                                    <li class="menu-item"><a href="/shop"><span>Lingerie</span></a></li>
                                    <li class="menu-item"><a href="/shop"><span>Sport</span></a></li>
                                    <li class="menu-item"><a href="/about-us"><span>About Us</span></a></li>
                                    <li class="menu-item"><a href="/gallery"><span>Gallery</span></a></li>
                                    <li class="menu-item"><a href="/shop"><span>Shop</span></a></li>
                                    <li class="menu-item"><a href="/contacts"><span>Contacts</span></a></li>
                                </ul>
                            </nav>
                        </div>
                    </div>

                </footer>
                <!-- /.footer_wrap -->
        </div>
        <!-- /.page_wrap -->
    </div>
    <!-- /.body_wrap -->

    <div id="trx_addons_login_popup" class="trx_addons_popup trx_addons_tabs mfp-hide">
        <ul class="trx_addons_tabs_titles">
            <li class="trx_addons_tabs_title trx_addons_tabs_title_login">
                <a href="#trx_addons_login_content"><i class="trx_addons_icon-lock-open"></i>Login</a>
            </li>
            <li class="trx_addons_tabs_title trx_addons_tabs_title_register" data-disabled="true">
                <a href="#trx_addons_register_content"><i class="trx_addons_icon-user-plus"></i>Register</a>
            </li>
        </ul>
        <div id="trx_addons_login_content" class="trx_addons_tabs_content trx_addons_login_content">
            <div>
                <div class="trx_addons_popup_form_wrap trx_addons_popup_form_wrap_login">
                    <form class="trx_addons_popup_form trx_addons_popup_form_login sc_input_hover_iconed" action="#" method="post" name="trx_addons_login_form">
                        <input type="hidden" id="redirect_to" name="redirect_to" value="">
                        <div class="trx_addons_popup_form_field trx_addons_popup_form_field_login">
                            <label class="sc_form_field sc_form_field_log required">
                                <span class="sc_form_field_wrap"><input type="text" name="log" id="log" value="">
                                    <span class="sc_form_field_hover"><i
                                            class="sc_form_field_icon trx_addons_icon-user-alt"></i>
                                        <span class="sc_form_field_content" data-content="Login">Login</span>
                                    </span>
                                </span>
                            </label>
                        </div>
                        <div class="trx_addons_popup_form_field trx_addons_popup_form_field_password">
                            <label class="sc_form_field sc_form_field_pwd required">
                                <span class="sc_form_field_wrap"><input type="password" name="pwd" id="pwd" value="">
                                    <span class="sc_form_field_hover"><i
                                            class="sc_form_field_icon trx_addons_icon-lock"></i>
                                        <span class="sc_form_field_content" data-content="Password">Password</span>
                                    </span>
                                </span>
                            </label>
                        </div>
                        <div class="trx_addons_popup_form_field trx_addons_popup_form_field_remember">
                            <a href="#" class="trx_addons_popup_form_field_forgot_password">Forgot password?</a>
                            <input type="checkbox" value="forever" id="rememberme" name="rememberme">
                            <label for="rememberme"> Remember me</label>
                        </div>
                        <div class="trx_addons_popup_form_field trx_addons_popup_form_field_submit">
                            <input type="submit" class="submit_button" value="Login">
                        </div>
                        <div class="trx_addons_message_box sc_form_result"></div>
                    </form>
                </div>
            </div>
        </div>
    </div>
    <script>
        var shopping = () => {
            window.location.href = '/shop'
        }
    </script>
    <script type='text/javascript' src='js/vendor/jquery-3.2.1.min.js'></script>
    <script type='text/javascript' src='js/vendor/jquery-migrate.min.js'></script>
    <script type='text/javascript' src='js/vendor/skip-link-focus-fix.js'></script>
    <script type='text/javascript' src='js/custom/shortcodes.js'></script>
    <script type='text/javascript' src='js/vendor/superfish.js'></script>
    <script type='text/javascript' src='js/custom/_main.js'></script>
    <script type='text/javascript' src='js/custom/_utils.js'></script>
    <script type='text/javascript' src='js/custom/_init.js'></script>
    <script type='text/javascript' src='js/vendor/essential-grid/public/assets/js/lightbox.js'></script>
    <script type='text/javascript' src='js/vendor/essential-grid/public/assets/js/jquery.themepunch.tools.min.js'></script>
    <script type='text/javascript' src='js/vendor/essential-grid/public/assets/js/jquery.themepunch.essential.js'></script>
    <script type='text/javascript' src='js/vendor/revslider/public/assets/js/jquery.themepunch.revolution.min.js'></script>

    <a href="#" class="trx_addons_scroll_to_top trx_addons_icon-up" title="Scroll to top"></a>
    <script>
        function buynow() {
            window.location.href = '/checkout'

        }
        async function addToCart() {
            let productId = document.getElementById("product-id").value;
            let quantity = document.getElementById("quantity").value;
            let color = document.getElementById("pa_color").value;
            let size = document.getElementById("pa_size").value;
            size = size != " " ? size : "m "
            color = color != "" ? color : "red-passion"
            console.log({
                productId,
                quantity,
                color,
                size
            });
            let response = await $.ajax({
                url: "/api/cart",
                method: "POST",
                data: {
                    productId,
                    quantity,
                    color,
                    size
                }
            })
            getCartData()
        }

        function addCartItem(cartItem, index) {
            return `
            <li class="mini_cart_item">
            <a href="#" class="remove" onclick="removeCartItem(${index})"
        title="Remove this item">×</a>
        <a href="/product/${cartItem.product}">
            <img src="${cartItem.featureImage}"
                alt="">Strapless Bikini Top
            &amp; Bottom&nbsp;
        </a>
        <dl class="variation">
            <dt class="variation-Size">Size:
            </dt>
            <dd class="variation-Size">
                <p>${cartItem.size.toUpperCase()}</p>
            </dd>
            <dt class="variation-Color">Color:
            </dt>
            <dd class="variation-Color">
                <p>${cartItem.color.replace('-', ' ').toUpperCase()}</p>
            </dd>
        </dl>
            <span class="quantity">${cartItem.quantity} × <span
                class="amount">${cartItem.price}.00<span
                    class="woocommerce-Price-currencySymbol">$</span></span>
            </span>
        </li>
            `
        }
        async function removeCartItem(deleteIndex) {
            await $.ajax({
                url: '/api/delete-cart',
                method: 'post',
                data: {
                    deleteIndex: deleteIndex
                }
            })
            await getCartData();
        }
        async function getCartData() {
            let response = await $.ajax({
                method: "GET",
                url: '/api/cart'
            })
            let cartDom = document.getElementById("cart-list")
            let cartQuantity = document.getElementById("cart-quantity")
            let cartSubtotal = document.getElementById("cart-subtotal")
            cartDom.innerHTML = ""
            console.log(response);
            let subtotal = 0;
            for (let i = 0; i < response.length; i++) {
                const cartItem = response[i];
                cartDom.innerHTML += addCartItem(cartItem, i)
                subtotal += parseInt(cartItem.price) * parseInt(cartItem.quantity);
            }
            cartSubtotal.innerHTML = subtotal + ".00";
            cartQuantity.innerHTML = response.length;
        }
        getCartData()
    </script>
</body>

</html>